#hidden {
    display: none;
}

a {
    color: rgb(255, 255, 255);
}

a:hover {
    color: grey;
}

.active {
    color: thistle;
}
body {
    color: rgb(255, 255, 255);
    font-family: 'Noto Serif', serif;
    margin: 15px;
    text-align: justify; 
    background-image: url('../src/wallpaper.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

header {
    margin: -15px;
    margin-bottom: 15px;
}

.bg-dark {
    background-color: rgb(30, 29, 29) !important;
}

.jumbotron {
    background-color: #19191bce;
    text-align: center;
}

.jumbotron-fluid {
    border-radius: 15px
    
}

#profile-pic {
    border-radius: 300px;
    width: 25%;
}

p {
    text-align: justify;
}

.media img {
    width: 150px; 
}

.media {
    background-color: #19191bce;
    border-radius: 15px;
    padding: 15px;
    margin: 15px;
}

.media a {
 
}

#main-title {
    padding: 25px;
}

#contacto img {
    width: 50px; 
}

#contacto p {
    text-align: center;
}

footer{
    text-align: center !important; 
    margin: 25px;
    font-size: small;
}

